html {
    /* スクロール時の背景固定 */
    background-attachment: fixed;
    /* background-color: #656562; */
    /* 背景の画像 */
    background-image: url("image/paint_00016.jpg");
    padding-top: 45px;
    padding-bottom: 45px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

}
.trans {
    /* 背景の透明色 */
     bamv
}
h1 {
    /* タイトル */
    text-align: center;  
}
#container {
    /* 募集要項全体 */
    margin: 0 auto;
    width: 50%;
}
h3 {
    /* この求人のポイント */
    text-align: center;
}
h4 {
    /* 見出し全体 */
    text-align: center;
}
iframe {
    /* 地図 */
    margin-left: 15%;
}
#p2 {
    /* 住所 */
    margin-left: 15%;
    font-weight: bold;
} 
#p1 {
    /* 雇用条件 */
    font-weight: bold;
}
img{
    margin: 0;
    top: -50px;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 999;
    transition: top 0.3s; 
}
.web{
    text-align: center;
}
#form {
    font-weight: bold;
    font-size: 30px;
}
    